table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  

  h2 {
    text-align: center;
    background-color: #24a2b8;
    color: #000000;
  }

 